.contact__options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8%;
    flex-direction: column;
    gap: 1.2rem;
}

article.contact__option h5 {
    text-transform: initial;
}

.contact__option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact__option:hover {
    background: transparent;
    border-color: var(--color-bg-variant);
}

.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

article.contact__option h4 {
    letter-spacing: 1.5px;
}

.contact__option a {
    margin-top: 0.35rem;
    display: inline-block;
    font-size: 0.9rem;
    letter-spacing: 0.95px;
}


/* Media Queries - Medium Devices */

@media screen and (max-width: 1024px) {
    .contact__options {
        grid-template-columns: auto auto auto;
    }
}

/* Media Queries - Small Devices */

@media screen and (max-width: 600px) {
    .contact__options {
        grid-template-columns: 1fr;
    }
}